In [1]:
# Import Library
import numpy as np
import pandas as pd
import os
import sqlalchemy as db
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine
import pymysql
import xlrd
from datetime import date, datetime

In [2]:
# Map the dataset
data_path1 = 'E:\\EASi\\5-Operations\\50-Management\\500-DataCentral\\3-Super User\\Development\\data_repository\\msp_data\\'

file_name1 = os.path.join(data_path1,'msp_data.xlsx')

In [3]:
df1 = pd.read_excel(file_name1, sheet_name='Resource', index_col=0, na_values=['NA'], usercols="A") # resource tab 
df2 = pd.read_excel(file_name1, sheet_name='Assignment', index_col=0, na_values=['NA'], usercols="A") # assignment tab 
df3 = pd.read_excel(file_name1, sheet_name='Project', index_col=0, na_values=['NA'], usercols="A") # project tab 
df4 = pd.read_excel(file_name1, sheet_name='Task', index_col=0, na_values=['NA'], usercols="A") # task tab 
df5 = pd.read_excel(file_name1, sheet_name='AssignmentBaseline', index_col=0, na_values=['NA'], usercols="A") # Assignment Baseline tab 
df6 = pd.read_excel(file_name1, sheet_name='ProjectBaseline', index_col=0, na_values=['NA'], usercols="A") # Project Baseline tab

In [4]:
# assign dataset
res_df = df1.reset_index() # Resource
ass_df = df2.reset_index() # Assignment
project_df = df3.reset_index() # Project
tsk_df = df4.reset_index() # Task
tmp_df = df5.reset_index() # Assignment Baseline
tmp1_df = df6.reset_index() # Project Baseline

In [5]:
# Filter project that don't have end date
prj_df = project_df[project_df.ProjectActualFinishDate.isnull()]
prj_df.shape, tsk_df.shape, ass_df.shape, res_df.shape

((84, 113), (1384, 99), (1407, 75), (165, 39))

In [6]:
temp1_df = tsk_df.merge(prj_df, on='ProjectId', how='left') # Merge task & project
temp2_df = temp1_df.merge(ass_df, on='TaskId', how='inner') # Merge assignment on task ID
temp3_df = temp2_df.merge(res_df, on='ResourceId', how='left') # Merge resource id on resource ID
temp4_df = temp3_df.merge(tmp_df, on='AssignmentId', how='inner') # join with assignment baseline for detailed_WBS_df

pr_temp1_df = prj_df.merge(tmp1_df, left_on='ProjectId', right_on='ProjectId', how='left') # Merge main dataset to project baseline for project_health_df

In [7]:
# define lambda function
def lim(x):
    if x > 1.00:
        return 1.00
    else:
        return x

In [8]:
#---------------- Preprocessing for detailed_wbs_df ----------------#
temp4_df['actual_cost'] = temp4_df['AssignmentActualCost'] + temp4_df['AssignmentActualOvertimeCost']
temp4_df['actual_work'] = temp4_df['AssignmentActualWork'] + temp4_df['AssignmentActualOvertimeWork']

temp5_df = temp4_df.loc[:,['SOWNb',
                           'TaskName',
                           'DataCentralID',
                           'AssignmentBaselineWork',
                           'actual_work',
                           'AssignmentWork',
                           'AssignmentRemainingWork',
                           'AssignmentBaselineCost',
                           'actual_cost',
                           'AssignmentCost',
                           'AssignmentRemainingCost',
                           'TaskPhysicalPercentCompleted']]

temp5_df.rename({'SOWNb':'sow_no',
                 'TaskName':'task_name',
                 'DataCentralID':'easi_id',
                 'AssignmentBaselineWork':'baseline_work',
                 'AssignmentWork':'forecasted_work',
                 'AssignmentRemainingWork':'remaining_work',
                 'AssignmentBaselineCost':'baseline_cost',
                 'AssignmentCost':'forecasted_cost',
                 'AssignmentRemainingCost':'remaining_cost',
                 'TaskPhysicalPercentCompleted':'percent_completion'}, axis=1, inplace=True)

temp6_df = temp5_df.dropna(axis=0, subset=['sow_no','easi_id']) # remove null sow_no 
temp7_df = temp6_df[temp6_df.easi_id != 'xxx']
temp7_df['easi_id'] = temp7_df['easi_id'].astype('int64')
temp7_df.head()

C:\Users\fwidjojoputra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,sow_no,task_name,easi_id,baseline_work,actual_work,forecasted_work,remaining_work,baseline_cost,actual_cost,forecasted_cost,remaining_cost,percent_completion
5,E1B100369254-A,Management support,6048168,115.0,0.0,20.0,20.0,14490.00,0.0,2520.0,2520.0,40
6,E1B100369254-A,Management support,5666033,108.0,58.0,98.0,40.0,12079.80,6487.3,10961.3,4474.0,40
7,E1B100369254-A,Management support,5653433,100.0,0.0,20.0,20.0,12600.00,0.0,2520.0,2520.0,40
8,E1B100369254-A,"Design ""IPC1,2,3,4""",5997424,85.0,96.0,96.0,0.0,9507.25,10737.6,10737.6,0.0,75
9,E1B100369254-A,"Design ""IPC1,2,3,4""",6117155,20.0,26.5,26.5,0.0,1772.00,2347.9,2347.9,0.0,75

In [9]:
# Connect to DC Resource dataset
# link dataset with data central
engine = db.create_engine('mysql+pymysql://admin:password@10.140.9.93:3306/datacentralserver', echo=True)
res_dc_df = pd.read_sql_query("SELECT EASiID as easi_id, FullName as name, Team as team FROM personnelt WHERE Active='Yes' AND ClientCode NOT IN(SELECT clientCode from personnelt WHERE clientcode IN('','Internal'))",engine)

2020-02-24 14:27:58,176 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2020-02-24 14:27:58,179 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,187 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2020-02-24 14:27:58,188 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,197 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2020-02-24 14:27:58,199 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,205 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2020-02-24 14:27:58,206 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,211 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2020-02-24 14:27:58,212 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,215 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2020-02-24 14:27:58,217 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,219 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2020-02-24 14:27:58,221 INFO sqlalchemy.engine.base.Engine {}
2020-02-24 14:27:58,227 INFO sqlalchemy.engine.base.Engine SELECT EASiID as easi_id, FullName as name, Team as team FROM personnelt WHERE Active='Yes' AND ClientCode NOT IN(SELECT clientCode from personnelt WHERE clientcode IN('','Internal'))
2020-02-24 14:27:58,229 INFO sqlalchemy.engine.base.Engine {}

In [10]:
# Final df for detailed_wbs
temp8_df = temp7_df.sort_values(by=['sow_no','task_name']) #sort it by sow_no and task name
temp9_df = temp8_df.merge(res_dc_df, left_on='easi_id', right_on='easi_id', how='left')
detailed_wbs_df = temp9_df.reset_index(drop=True)
detailed_wbs_df = detailed_wbs_df[['sow_no',
                                   'task_name',
                                   'name',
                                   'baseline_work',
                                   'actual_work',
                                   'forecasted_work',
                                   'remaining_work',
                                   'baseline_cost',
                                   'actual_cost',
                                   'forecasted_cost',
                                   'remaining_cost',
                                   'percent_completion']]
detailed_wbs_df.shape # FINAL DATASET FOR DETAILED_WBS

(469, 12)

In [14]:
#---------------- Preprocessing for prj_health_df ----------------#
pr_temp1_df['actual_work'] = pr_temp1_df['ProjectActualWork'] + pr_temp1_df['ProjectActualOvertimeWork']
pr_temp1_df['actual_cost'] = pr_temp1_df['ProjectActualCost'] + pr_temp1_df['ProjectActualOvertimeCost']
pr_temp1_df['CPI'] = pr_temp1_df['ProjectBCWP'] / pr_temp1_df['ProjectACWP']
pr_temp1_df['SPI'] = pr_temp1_df['ProjectBCWP'] / pr_temp1_df['ProjectBCWS']

pr_temp2_df = pr_temp1_df.loc[:,['SOWNb',
                                 'ProjectTitle',
#                                  'DataCentralID',
                                 'ProjectBaselineWork',
                                 'actual_work',
                                 'ProjectWork',
                                 'ProjectRemainingWork',
                                 'ProjectBaselineCost',
                                 'actual_cost',
                                 'ProjectCost',
                                 'ProjectRemainingCost',
                                 'CPI',
                                 'SPI',
                                 'Client',
                                 'TeamLead']]

pr_temp2_df.rename({'SOWNb':'sow_no',
                    'ProjectTitle':'prj_name',
#                     'DataCentralID':'easi_id',
                    'ProjectBaselineWork':'baseline_work',
                    'ProjectWork':'forecasted_work',
                    'ProjectRemainingWork':'remaining_work',
                    'ProjectBaselineCost':'baseline_cost',
                    'ProjectCost':'forecasted_cost',
                    'ProjectRemainingCost':'remaining_cost',
                    'Client':'client'
                    }, axis=1, inplace=True)

pr_temp3_df = pr_temp2_df.dropna(axis=0, subset=['sow_no']) # remove null sow_no
# pr_temp4_df = pr_temp3_df[pr_temp3_df.easi_id != 'xxx']
# pr_temp4_df['easi_id'] = pr_temp4_df['easi_id'].astype('int64')

In [15]:
pr_temp4_df = pr_temp3_df.sort_values(by=['sow_no']) #sort it by sow_no 
# pr_temp5_df = pr_temp4_df.merge(res_dc_df, left_on=['easi_id','team'], right_on=['easi_id','team'], how='left')

prj_health_df = pr_temp4_df.reset_index(drop=True)

prj_health_df = prj_health_df[['sow_no',
                               'prj_name',
                               'baseline_work',
                               'actual_work',
                               'forecasted_work',
                               'remaining_work',
                               'baseline_cost',
                               'actual_cost',
                               'forecasted_cost',
                               'remaining_cost',
                               'SPI',
                               'CPI',
                               'client',
                               'TeamLead']]

# prj_health_df['SPI'] = prj_health_df.apply(lambda x:lim(x['SPI']))
prj_health_df['SPI'] = prj_health_df['SPI'].apply(lim)
prj_health_df['CPI'] = prj_health_df['CPI'].apply(lim)
prj_health_df['SPI'] = [round(x,2) for x in prj_health_df['SPI']]
prj_health_df['CPI'] = [round(x,2) for x in prj_health_df['CPI']]
prj_health_df['baseline_work'] = [round(x,2) for x in prj_health_df['baseline_work']]
prj_health_df['actual_work'] = [round(x,2) for x in prj_health_df['actual_work']]
prj_health_df['forecasted_work'] = [round(x,2) for x in prj_health_df['forecasted_work']]
prj_health_df['remaining_work'] = [round(x,2) for x in prj_health_df['remaining_work']]

prj_health_df['baseline_cost'] = [round(x,2) for x in prj_health_df['baseline_cost']]
prj_health_df['actual_cost'] = [round(x,2) for x in prj_health_df['actual_cost']]
prj_health_df['forecasted_cost'] = [round(x,2) for x in prj_health_df['forecasted_cost']]
prj_health_df['remaining_cost'] = [round(x,2) for x in prj_health_df['remaining_cost']]

prj_health_df.head()

,sow_no,prj_name,baseline_work,actual_work,forecasted_work,remaining_work,baseline_cost,actual_cost,forecasted_cost,remaining_cost,SPI,CPI,client,TeamLead
0,18015,18015-Program Increment 23,NaN,0.00,383.00,383.0,NaN,0.00,47505.00,47505.0,NaN,NaN,CATERPILLAR,Joshua Alguire
1,19001-1,19001-Autonomous Drill System (ADS),2639.25,2604.25,2604.25,0.0,260007.28,256612.25,256612.25,0.0,1.0,1.0,CATERPILLAR,Joshua Alguire
2,19001-2,19001-2 Autonomous Drill System (ADS),1380.00,1181.00,1181.00,0.0,129030.00,114326.00,114326.00,0.0,1.0,1.0,CATERPILLAR,Joshua Alguire
3,19003-1,19003-1 Terrain for Drilling (TfD),1680.00,1581.50,1581.50,0.0,109200.00,103183.00,103183.00,0.0,1.0,1.0,CATERPILLAR,Joshua Alguire
4,19003-2,19003-2 Terrain for Drilling (TfD),1092.00,1109.00,1109.00,0.0,81168.00,75669.00,75669.00,0.0,1.0,1.0,CATERPILLAR,Joshua Alguire