In [1]:
# Import Library
import numpy as np
import pandas as pd
import os
from sqlalchemy import create_engine
import sqlalchemy as db
from datetime import date, datetime
import json

In [2]:
engine = db.create_engine('mysql+pymysql://mikeez:maikil@10.140.9.15:3306/dc_dev', echo=False)
res_df = pd.read_sql_query("SELECT resources.id, resources.easi_id, CONCAT (resources.first_name,',',resources.last_name) AS name, resources.base, resources.contract, teams.name \
                            FROM resources \
                            INNER JOIN teams \
                            ON resources.team = teams.id \
                            WHERE status = 1", engine)

bill_df = pd.read_sql_query("SELECT id, name, timecards, resource, total, submitted, weekending, confirmed, resource_short \
                            FROM timesheets \
                            WHERE timecards IS NOT NULL", engine)

scl_df = pd.read_sql_query("SELECT id, name, timecards, resource, total, confirmed, total, grandtotal, submitted \
                            FROM scl_timesheets \
                            WHERE timecards IS NOT NULL", engine)

In [3]:
t1_df = bill_df.merge(scl_df, left_on='name', right_on='name', how='outer')
t2_df = t1_df.loc[:,['name',
                     'resource_y',
                     'timecards_x',
                     'timecards_y',
                     'total_x',
                     'total_y',
                     'grandtotal',
                     'weekending',
                     'resource_short',
                     'submitted_y'
                     ]]
t2_df.rename({'name':'ts_id',
              'resource_y':'res_id',
              'timecards_x':'bill',
              'timecards_y':'scl',
              'total_x':'total_bill',
              'total_y':'total_scl',
              'grandtotal':'total',
              'submitted_y':'approved'}, axis=1, inplace=True)
t3_df = t2_df.merge(res_df, left_on='res_id', right_on='id', how='left')
t3_df.head()

,ts_id,res_id,bill,scl,total_bill,total_scl,total_scl,total,weekending,resource_short,approved,id,easi_id,name,base,contract,name
0,04/18/2020/24,24,"[{""project"":{""id"":507,""sow_no"":""O2416392"",""des...","[{""project"":{""id"":8,""sow_no"":""SCL-16-8"",""group...",36.0,4,4,40,2020-04-19,"[{""timesheetID"":127,""user_id"":24,""easi_id"":611...",1,24,6117155,"Hany Wassef,Ghobriel",Center,FTE,DVV
1,04/18/2020/96,96,"[{""project"":{""id"":92,""sow_no"":""E1B100500638-1""...",[],40.0,0,0,40,2020-04-19,"[{""timesheetID"":128,""user_id"":96,""easi_id"":673...",1,96,6736783,"Oriana,Orozco Onate",Center,FTE,DVV
2,04/18/2020/95,95,NaN,"[{""project"":{""id"":15,""sow_no"":""OPERATIONS_SUPP...",NaN,40,40,40,NaN,NaN,1,95,6733494,"Maikil,Salib",Center,PPC,OPS
3,04/25/2020/95,95,NaN,"[{""easi_id"":6733494,""project"":{""id"":15,""sow_no...",NaN,40,40,40,NaN,NaN,1,95,6733494,"Maikil,Salib",Center,PPC,OPS

In [4]:
# CONNECT WITH TIMECARD DATABASE
engine = db.create_engine('mysql+pymysql://mikeez:maikil@10.140.9.15:3306/dc_dev', echo=False)
res_df = pd.read_sql_query("SELECT * FROM resources WHERE status = 1",engine)
team_df = pd.read_sql_query("SELECT * FROM teams",engine)
prj_ts_df = pd.read_sql_query("SELECT * FROM timesheets WHERE timecards IS NOT NULL", engine)
scl_ts_df = pd.read_sql_query("SELECT * FROM scl_timesheets WHERE timecards IS NOT NULL", engine)

# CONNECT WITH API DATASET
prj_api_df = pd.read_sql_query("SELECT id, sow_no, parent_task, description FROM ts_projects ORDER BY id", engine)
res_api_df = pd.read_sql_query("SELECT * FROM resources__projects ORDER BY id", engine)

In [5]:
temp1_df = res_api_df.merge(prj_api_df, left_on='ts-project_id', right_on='id', how='inner')
temp2_df = temp1_df.loc[:,['ts-project_id',
                           'resource_id',
                           'sow_no',
                           'parent_task',
                           'description']]
temp3_df = temp2_df.merge(res_df, left_on='resource_id', right_on='id', how='inner')
temp3_df['full_name'] = temp3_df['last_name'] + "," + temp3_df['first_name']
temp4_df = temp3_df.loc[:,['ts-project_id',
                           'resource_id',
                           'full_name',
                           'sow_no',
                           'parent_task',
                           'description']]

temp4_df.head()
#DONT USER THIS CODE BLOCK => FOR TESTING ONLY#

,ts-project_id,resource_id,full_name,sow_no,parent_task,description
0,2,31,"Jeevanandan,Karthikeyan",E1B100500638-1,Remastering of Avon Discs,E1B100500638-Remastering of Avon Discs
1,5,31,"Jeevanandan,Karthikeyan",E1B100398239-1,Various (LPT Cooling Skins),E1B100398239-FY19 Turbines Industrialization
2,37,31,"Jeevanandan,Karthikeyan",E1B100587058-1,IPT Disc Model Update,E1B100587058-FY20 SGT-A65F TR IPT Module (Sub...
3,48,31,"Jeevanandan,Karthikeyan",E1B100587058-1,IPT 3D Assesment,E1B100587058-FY20 SGT-A65F TR IPT Module (Sub...
4,66,31,"Jeevanandan,Karthikeyan",E1B100398239-1,Various (LPT Cooling Skins),E1B100398239-FY19 Turbines Industrialization

In [6]:
# Pre-process resource dataset
raw1_df = res_df.merge(team_df, left_on='team', right_on='id', how='left')
raw1_df['full_name'] = raw1_df['last_name'] + "," + raw1_df['first_name']
temp1_df = raw1_df.loc[:,['id_x',
                          'easi_id',
                          'full_name',
                          'base',
                          'contract',
                          'name']]

temp2_df = prj_ts_df.loc[:,['id',
                            'name',
                            'timecards',
                            'resource',
                            'total',
                            'submitted']]

temp3_df = scl_ts_df.loc[:,['id',
                            'name',
                            'timecards',
                            'resource',
                            'total',
                            'confirmed',
                            'total',
                            'grandtotal',
                            'submitted']]

In [7]:
joined1_df = temp2_df.merge(temp3_df, left_on='name', right_on='name', how= 'inner') # inner join both timesheets
joined2_df = joined1_df.merge(temp1_df,left_on='resource_x', right_on='id_x', how='left')


combined_df = joined2_df.loc[:,['name_x',
                                'resource_x',
                                'easi_id',
                                'full_name',
                                'base',
                                'contract',
                                'name_y',
                                'timecards_x',
                                'timecards_y',
                                'total_x',
                                'total_y',
                                'grandtotal'
                                ]]

combined_df.rename({'name_x':'ts_id',
                    'name_y':'team',
                    'timecards_x':'bill',
                    'timecards_y':'scl',
                    'resource_x':'res_id',
                    'total_x':'total_bil',
                    'total_y':'total_scl',
                    'grandtotal':'total'
                    },axis=1, inplace=True)

combined_df.head()

,ts_id,res_id,easi_id,full_name,base,contract,team,bill,scl,total_bil,total_scl,total_scl,total
0,04/18/2020/24,24,6117155,"Ghobriel,Hany Wassef",Center,FTE,DVV,"[{""project"":{""id"":507,""sow_no"":""O2416392"",""des...","[{""project"":{""id"":8,""sow_no"":""SCL-16-8"",""group...",36,4,4,40
1,04/18/2020/96,96,6736783,"Orozco Onate,Oriana",Center,FTE,DVV,"[{""project"":{""id"":92,""sow_no"":""E1B100500638-1""...",[],40,0,0,40

In [8]:
# parse bill column
x = combined_df['bill']
di = {}

for a in x:
    if a != '[]' and a:
        d = json.loads(a)
        for proj in d:
            if not 'id' in di:
                di['id'] = []
            if not 'sow_no' in di:
                di['sow_no'] = []
            if not 'parent_task' in di:
                di['parent_task'] = []
            if not 'task' in di:
                di['task'] = []
            if not 'total' in di:
                di['total'] = []
            if not 'mon' in di:
                di['mon'] = []
            if not 'tue' in di:
                di['tue'] = []
            if not 'wed' in di:
                di['wed'] = []
            if not 'thu' in di:
                di['thu'] = []
            if not 'fri' in di:
                di['fri'] = []
            if not 'sat' in di:
                di['sat'] = []  
            if not 'sun' in di:
                di['sun'] = []  
            
            di['id'].append(proj['project']['id'])    
            di['sow_no'].append(proj['project']['sow_no'])
            di['parent_task'].append(proj['project']['parent_task']) 
            di['task'].append(proj['project']['task']) 
            di['mon'].append(proj['mon'])
            di['tue'].append(proj['tue'])
            di['wed'].append(proj['wed'])
            di['thu'].append(proj['thu'])
            di['fri'].append(proj['fri'])
            di['sat'].append(proj['sat'])
            di['sun'].append(proj['sun'])
            di['total'].append(proj['total'])

di
test_df = pd.DataFrame(di,columns=['id','sow_no','parent_task','task','total','mon','tue','wed','thu','fri','sat','sun'])
test_df

,id,sow_no,parent_task,task,total,mon,tue,wed,thu,fri,sat,sun
0,507,O2416392,Parker Phase 2,Phase 2 Technical oversight,16,8,8,0,0,0,0,0
1,111,E1B100348638-A,Management - Admin,Management - Admin,16,0,0,8,8,0,0,0
2,144,E1B100416803,Manufacturing phase,R7 PPQ,4,0,0,0,0,4,0,0
3,92,E1B100500638-1,Remastering of Avon Discs,"R5 Avon Compressor Discs (AG57607, AG57787, AG...",16,8,8,0,0,0,0,0
4,219,E1B100601927-A,Comp Sup. SGT-A65F Support,Support Design,16,0,0,8,8,0,0,0
5,439,E1B100369254-A,"First drawing revision: designs at status 30, ...",Design,8,0,0,0,0,8,0,0

In [9]:
# merge json to main project api
test2_df = test_df.merge(temp4_df, left_on='id', right_on='ts-project_id', how='inner')

# merge with initial timesheet dataset
# test3_df = pd.concat([combined_df, test2_df], axis=1, join='inner')

test_df.shape,temp4_df.shape

((6, 12), (766, 6))

In [10]:
d

[{'project': {'id': 92,
   'sow_no': 'E1B100500638-1',
   'description': 'E1B100500638-Remastering of Avon Discs',
   'parent_task': 'Remastering of Avon Discs',
   'task': 'R5 Avon Compressor Discs (AG57607, AG57787, AG57789)(AG59872A, AG695A, AG59692A)',
   'rem_work': '0',
   'created_at': '2020-04-13T17:01:17.000Z',
   'updated_at': '2020-04-13T17:01:17.000Z',
   'resource': None},
  'mon': 8,
  'tue': 8,
  'wed': 0,
  'thu': 0,
  'fri': 0,
  'sat': 0,
  'sun': 0,
  'total': 16,
  'rem_work': '0'},
 {'project': {'id': 219,
   'sow_no': 'E1B100601927-A',
   'description': 'E1B100601927-Compressor Rotor design, definition and systems integration for SGT-A65F',
   'parent_task': 'Comp Sup. SGT-A65F Support',
   'task': 'Support Design',
   'rem_work': '1330',
   'created_at': '2020-04-13T17:01:17.000Z',
   'updated_at': '2020-04-13T17:01:17.000Z',
   'resource': None},
  'mon': 0,
  'tue': 0,
  'wed': 8,
  'thu': 8,
  'fri': 0,
  'sat': 0,
  'sun': 0,
  'total': 16,
  'rem_work': '1330'},
 {'project': {'id': 439,
   'sow_no': 'E1B100369254-A',
   'description': 'E1B100369254 Compressor Rotor - Source and method change for IPC1-4 Vanes transfer to BUD',
   'parent_task': 'First drawing revision: designs at status 30, EBOM complete, parts EBOM complete (unstatused)',
   'task': 'Design',
   'rem_work': '0',
   'created_at': '2020-04-13T17:01:17.000Z',
   'updated_at': '2020-04-13T17:01:17.000Z',
   'resource': None},
  'mon': 0,
  'tue': 0,
  'wed': 0,
  'thu': 0,
  'fri': 8,
  'sat': 0,
  'sun': 0,
  'total': 8,
  'rem_work': '0'}]

In [11]:
# link dataset with datacentralserver
engine = db.create_engine('mysql+pymysql://admin:password@10.140.9.93:3306/datacentralserver', echo=False)
# client_df = pd.read_sql_query("SELECT * FROM client",engine)
res_df = pd.read_sql_query("SELECT FullName,EASiID FROM personnelt",engine)

In [12]:
test_df = pd.DataFrame.from_dict(tc_df, orient ='columns')
test_df.shape

NameError: name 'tc_df' is not defined

In [ ]:
temp_df1 = test_df['timecards'].apply(json.loads)
temp_df2 = pd.DataFrame(temp_df1.tolist())
test_df['timecards']

In [ ]:
test_df

In [ ]:
exp = []
x = test_df['timecards']


di = {}

for a in x:
    if a != '[]' and a:
        d = json.loads(a)
        for proj in d:
            if not 'sowno' in di:
                di['sowno'] = []
            if not 'task' in di:
                di['task'] = []
            if not 'total' in di:
                di['total'] = []
                
            di['sowno'].append(proj['project']['sow_no'])
            di['task'].append(proj['project']['task'])
            di['total'].append(proj['total'])
            

df = pd.DataFrame(di)
df
#     
# for row in test_df['timecards']:
#     if row != "[]":
#         exp.append(row)
# exp

In [ ]:
test1 = test_df['timecards'].to_json(orient='split')
# x = '{"a":1, "b":2}'

# parsed_json = json.loads(exp)
# print(json.dumps(parsed_json, indent=4, sort_keys=True))

df = pd.DataFrame(exp, columns = ['mon','tue','wed','thu','fri','sat','sun'])
df.head()