In [2]:
import numpy as np
import pandas as pd
import os
import gc
import sqlalchemy as db
from sqlalchemy import create_engine
import pymysql
from datetime import date, datetime

In [3]:
# Identify Path for bill dataset
data_path1 = 'E:\\EASi\\5-Operations\\50-Management\\500-DataCentral\\2-Static Dashboard\\WIP\\data\\input\\'
file_name1 = os.path.join(data_path1,'bill.csv')
# Identify path for scl dataset
data_path2 = 'E:\\EASi\\5-Operations\\50-Management\\500-DataCentral\\2-Static Dashboard\\WIP\\data\\input\\'
file_name2 = os.path.join(data_path2,'scl.csv')

In [4]:
# Call dataset
df1 = pd.read_csv(file_name1)
df2 = pd.read_csv(file_name2)

In [5]:
# identify all required attributes
bill_df = df1.loc[:,['Customer Id',
                    'Employee ID',
                    'Customer Name',
                    'Employee Name',
                    'Proj Invoice Header Value1',
                    'WBS_Activity Id',
                    'Activity Descr',
                    'Resource Type',
                    'Accounting Status',
                    'Quantity_Unit',
                    'Bill Rate',
                    'Total Amount',
                    'Pay End Date'
                    ]]
scl_df = df2.loc[:,['Customer Id',
                    'Employee ID',
                    'Employee Name',
                    'Resource Type',
                    'Accounting Status',
                    'Quantity_Unit',
                    'WBS_Activity Id',
                    'Activity Descr',
                    'Pay End Date'
                    ]]

# Modify column name
bill_df.rename({'Customer Id':'client_id',
                'Employee ID':'easi_id',
                'Customer Name':'client_name',
               'Employee Name':'name',
               'Proj Invoice Header Value1':'sow_no',
               'WBS_Activity Id':'wbs_id',
               'Activity Descr':'description',
               'Resource Type':'res_type',
               'Accounting Status':'acc_status',
               'Quantity_Unit':'hours',
               'Bill Rate':'bill_rate',
               'Total Amount':'amount', 
               'Pay End Date':'weekending'},axis=1,inplace=True)

scl_df.rename({'Customer Id':'client_id',
               'Employee ID':'easi_id', 
               'Employee Name':'name', 
               'Resource Type':'res_type', 
               'Accounting Status':'acc_status',
               'Quantity_Unit':'hours',
               'WBS_Activity Id':'wbs_id',
               'Activity Descr':'act_desc',
               'Pay End Date':'weekending'},axis=1,inplace=True)

# Change data type as required
bill_df['weekending'] = bill_df['weekending'].astype('datetime64[ns]')
scl_df['weekending'] = scl_df['weekending'].astype('datetime64[ns]')

In [12]:
# scl_df.tail()

In [14]:
# filtering if required
acc_status_hours  = ['IEH','PAY'] # this is filter for hours
res_type_hours  = ['LABOR','SUBCN']

acc_status_amount  = ['BIL','BLD','XRV']
res_type_amount  = ['LABOR','SUBCN','EQUIP']

hours_raw_df = bill_df.loc[bill_df['acc_status'].isin(acc_status_hours)] 
hours_df = hours_raw_df.loc[hours_raw_df['res_type'].isin(res_type_hours)] # final hours dataframe

amount_raw_df = bill_df.loc[bill_df['acc_status'].isin(acc_status_amount)]
amount_df = amount_raw_df.loc[amount_raw_df['res_type'].isin(res_type_amount)] # final billable $$ dataframe

In [24]:
# for SCL ONLY
# drop internal people (Stephen, Martin, Ferdi, Maik, Jessie)
scl_df = scl_df.drop(scl_df[(scl_df['easi_id'] == 6037624)|
                                              (scl_df['easi_id'] == 6142088)|
                                              (scl_df['easi_id'] == 6271423)|
                                              (scl_df['easi_id'] == 6733494)|
                                              (scl_df['easi_id'] == 6760845)].index)

# Filter only for IEH & PAY
acc_filter = ['IEH','PAY']
res_filter = ['LABOR','SUBCN']
scl_raw_df = scl_df.loc[scl_df['acc_status'].isin(acc_filter)]
scl_df = scl_raw_df.loc[scl_raw_df['res_type'].isin(res_filter)] # final scl dataframe

In [27]:
# link dataset with data central
engine = db.create_engine('mysql+pymysql://admin:password@10.140.9.159:3306/datacentralserver', echo=True)
client_df = pd.read_sql_query("SELECT * FROM client",engine)
resource_df = pd.read_sql_query("SELECT EASiID as easi_id, ClientCode as client_code, Department as department FROM personnelt WHERE Active='Yes' AND ClientCode NOT IN(SELECT clientCode from personnelt WHERE clientcode IN('','Internal'))",engine)

2019-11-21 11:37:40,956 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-11-21 11:37:40,958 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:40,966 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2019-11-21 11:37:40,968 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:40,976 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-11-21 11:37:40,979 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:40,989 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2019-11-21 11:37:40,992 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:41,000 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2019-11-21 11:37:41,005 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:41,014 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2019-11-21 11:37:41,016 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:41,020 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2019-11-21 11:37:41,023 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:41,032 INFO sqlalchemy.engine.base.Engine SELECT * FROM client
2019-11-21 11:37:41,037 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:37:41,051 INFO sqlalchemy.engine.base.Engine SELECT EASiID as easi_id, ClientCode as client_code, Department as department FROM personnelt WHERE Active='Yes' AND ClientCode NOT IN(SELECT clientCode from personnelt WHERE clientcode IN('','Internal'))
2019-11-21 11:37:41,055 INFO sqlalchemy.engine.base.Engine {}

In [34]:
# Join with client table in DC
combined_hours_df = hours_df.merge(client_df,on='client_id',how='left')
combined_amount_df = amount_df.merge(client_df,on='client_id',how='left')
combined_scl_df = scl_df.merge(resource_df,on='easi_id',how='left')

# Group it all based on client ID
hours_client_df = combined_hours_df.groupby('client_code')['hours'].sum()
amount_client_df = combined_amount_df.groupby('client_code')['amount'].sum()
scl_client_df = combined_scl_df.groupby('client_code')['hours'].sum()

temp_df = hours_client_df.reset_index().merge(amount_client_df.reset_index(), on='client_code', how='inner')
temp_df.rename({'hours':'bill'},axis=1, inplace=True)

td_df = temp_df.merge(scl_client_df.reset_index(), on='client_code', how='left')
td_df.rename({'hours':'nonbill', 
              'client_code':'client',
              'amount':'revenue'},axis=1, inplace=True)
td_df.fillna(0,inplace=True)
td_df.insert(4,'fring',0)                 #--------------------------------------#
td_df.insert(5,'weekending','2019-11-16') #-----Change to current weekending-----#
                                          #--------------------------------------#

td_df
# once validated, insert to mysql with code below
td_df.to_sql('time_dimension',con=engine, if_exists='append',index=False)

2019-11-21 11:42:51,594 INFO sqlalchemy.engine.base.Engine DESCRIBE `time_dimension`
2019-11-21 11:42:51,594 INFO sqlalchemy.engine.base.Engine {}
2019-11-21 11:42:51,605 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-11-21 11:42:51,613 INFO sqlalchemy.engine.base.Engine INSERT INTO time_dimension (client, bill, revenue, nonbill, fring, weekending) VALUES (%(client)s, %(bill)s, %(revenue)s, %(nonbill)s, %(fring)s, %(weekending)s)
2019-11-21 11:42:51,615 INFO sqlalchemy.engine.base.Engine ({'client': 'CAT', 'bill': 705.0, 'revenue': 60182.25, 'nonbill': 89.0, 'fring': 0, 'weekending': '2019-11-16'}, {'client': 'HAL', 'bill': 84.0, 'revenue': 7980.000000000001, 'nonbill': 0.0, 'fring': 0, 'weekending': '2019-11-16'}, {'client': 'HUT', 'bill': 79.0, 'revenue': 5328.0, 'nonbill': 0.0, 'fring': 0, 'weekending': '2019-11-16'}, {'client': 'PAR', 'bill': 131.0, 'revenue': 9824.0, 'nonbill': 0.0, 'fring': 0, 'weekending': '2019-11-16'}, {'client': 'SIE', 'bill': 2054.25, 'revenue': 177183.1199999998, 'nonbill': 378.0, 'fring': 0, 'weekending': '2019-11-16'})
2019-11-21 11:42:51,620 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
# perpare dataset to be inputed in DC
bill_info = combined_hours_df.loc[:,['easi_id',
                                     'sow_no',
                                     'wbs_id',
                                     'description',
                                     'client_code',
                                     'hours',
                                     'weekending']]

print("Total Billable Hours = {}".format(bill_info['hours'].sum()))
# once validated, insert to mysql with code below
# bill_info.to_sql('bill',con=engine, if_exists='append',index=False)

Total Billable Hours = 3053.25

,easi_id,sow_no,wbs_id,description,client_code,hours,weekending
0,5499555,19006,P02-19006-QA,QA & Automated Test,CAT,5.00,2019-11-16
1,5499555,19006,P02-19006-QA,QA & Automated Test,CAT,7.00,2019-11-16
2,5499555,19006,P02-19006-QA,QA & Automated Test,CAT,8.00,2019-11-16
3,5668372,19006,P04-19006-TEC,Techinical Writing,CAT,3.00,2019-11-16
4,5668372,19006,P04-19006-TEC,Techinical Writing,CAT,4.00,2019-11-16
5,5668372,19006,P04-19006-TEC,Techinical Writing,CAT,5.00,2019-11-16
6,6013926,19006,P01-19006-DES,Design and Development,CAT,1.50,2019-11-16
7,6013926,19006,P01-19006-DES,Design and Development,CAT,8.00,2019-11-16
8,6013926,19006,P01-19006-DES,Design and Development,CAT,8.00,2019-11-16
9,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,1.00,2019-11-16
10,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,1.00,2019-11-16
11,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,8.00,2019-11-16
12,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,8.00,2019-11-16
13,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,8.00,2019-11-16
14,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,8.00,2019-11-16
15,6031158,19006,P02-19006-QA,QA & Automated Test,CAT,8.00,2019-11-16
16,6335531,19006,P03-19006-UI,User interface,CAT,8.00,2019-11-16
17,6335531,19006,P03-19006-UI,User interface,CAT,8.00,2019-11-16
18,6335531,19006,P03-19006-UI,User interface,CAT,8.00,2019-11-16
19,6335531,19006,P03-19006-UI,User interface,CAT,8.00,2019-11-16
20,6335531,19006,P03-19006-UI,User interface,CAT,8.00,2019-11-16
21,6354012,19006,P02-19006-QA,QA & Automated Test,CAT,5.25,2019-11-16
22,6354012,19006,P02-19006-QA,QA & Automated Test,CAT,3.50,2019-11-16
23,6354012,19006,P02-19006-QA,QA & Automated Test,CAT,8.50,2019-11-16
24,6354012,19006,P02-19006-QA,QA & Automated Test,CAT,9.00,2019-11-16
25,6354012,19006,P02-19006-QA,QA & Automated Test,CAT,9.25,2019-11-16
26,6354012,19006,P02-19006-QA,QA & Automated Test,CAT,9.75,2019-11-16
27,6491629,19006,P05-19006-HARD,Hardware Technician,CAT,2.00,2019-11-16
28,6491629,19006,P05-19006-HARD,Hardware Technician,CAT,2.00,2019-11-16
29,5499555,19004,P02-19004-QA,QA & Automated Test,CAT,8.00,2019-11-16
...,...,...,...,...,...,...,...
442,6558992,NaN,SOFTWARE_LEAD,LINE_1,HAL,4.00,2019-11-16
443,6573785,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
444,6573785,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
445,6573785,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
446,6573785,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
447,6573785,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
448,6806239,NaN,SOFTWARE_ENG,LINE_1,HAL,7.00,2019-11-16
449,6806239,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
450,6806239,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
451,6806239,NaN,SOFTWARE_ENG,LINE_1,HAL,8.00,2019-11-16
452,6806239,NaN,SOFTWARE_ENG,LINE_1,HAL,9.00,2019-11-16
453,6842737,NaN,DES,Design Engineer,PAR,8.00,2019-11-16
454,6842737,NaN,DES,Design Engineer,PAR,8.00,2019-11-16
455,6842737,NaN,DES,Design Engineer,PAR,8.00,2019-11-16
456,6842737,NaN,DES,Design Engineer,PAR,8.00,2019-11-16
457,6842737,NaN,DES,Design Engineer,PAR,8.00,2019-11-16
458,5708131,NaN,PROJ,Project Engineer,PAR,8.00,2019-11-16
459,5708131,NaN,PROJ,Project Engineer,PAR,8.00,2019-11-16
460,5708131,NaN,PROJ,Project Engineer,PAR,8.00,2019-11-16
461,5708131,NaN,PROJ,Project Engineer,PAR,8.00,2019-11-16
462,5708131,NaN,PROJ,Project Engineer,PAR,8.00,2019-11-16
463,6117155,NaN,TECH,Technical Oversight,PAR,1.00,2019-11-16
464,6117155,NaN,TECH,Technical Oversight,PAR,1.00,2019-11-16
465,6117155,NaN,TECH,Technical Oversight,PAR,1.00,2019-11-16
466,6819991,NaN,STRUC,Structural Engineer,PAR,8.00,2019-11-16
467,6819991,NaN,STRUC,Structural Engineer,PAR,8.00,2019-11-16
468,6819991,NaN,STRUC,Structural Engineer,PAR,8.00,2019-11-16
469,6819991,NaN,STRUC,Structural Engineer,PAR,8.00,2019-11-16
470,6819991,NaN,STRUC,Structural Engineer,PAR,8.00,2019-11-16
471,6828854,NaN,DES,Design Engineer,PAR,8.00,2019-11-16

In [36]:
# perpare dataset to be inputed in DC
scl_info = combined_scl_df.loc[:,['easi_id', 
                                 'hours', 
                                 'wbs_id', 
                                 'act_desc',
                                 'weekending']]
print("Total Billable Hours = {}".format(scl_info['hours'].sum()))
# once validated, insert to mysql with code below
# scl_info.to_sql('scl',con=engine, if_exists='append',index=False)

Total Billable Hours = 470.0